.container {
  width: 70%;
  height: auto;
  background-color: lightgray;
  margin-left: 15%;
  text-align: center;
}

.dialog {
  width: 40%;
  height: 200px;
  margin-left: 30%;
  background-color: gray;
}

.heading {
  display: flex;
  border: 2px solid black;
}

.title {
  width: 30%;
}

.formRow {
  height: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
 border: 1px solid black; 
 display: flex;
}

.row {
  width: 30%;
  margin-left: 10%;
}

.saveButton {
  width: 5%;
  margin-left: 4%;
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: right;
}

.footerButton {
  margin-right: 8.5%;
}